body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 230, 230);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  max-width: 250px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: auto;
  background: #f9f9f9;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  padding-top: "10vh";
  position: "fixed";
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-item-icon {
  margin-right: 6px;
}

.sidebar-item-text {
  width: 100%;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}

.container-page {
  display: flex;
}

.item-header {
  grid-area: header;
}
.item-sidebar {
  grid-area: menu;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: auto;
  background: #f9f9f9;
}
.item-main {
  grid-area: main;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main";
}

.header-container {
  background-color: #3d3b8e;
  height: 10vh;
  padding-left: 20px;
}

.counter-card-container {
  float: left;
  padding: 10px;
}
